<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>CheckBox</h1>

        <form method="POST" action="{% url 'select_and_display' %}">
            {% csrf_token %}

            Topic_name:
            <br>
            {% for to in LTO %}

                <input type="checkbox" name="tn" id="tn" value="{{to.topic_name}}">
                <label for="tn">{{to.topic_name}}</label> <br> <br>
                {% endfor %}

            <input type="submit" value="checkbox">




        </form>
    </center>
</body>
</html>